//@import url('https://fonts.googleapis.com/css?family=Nunito');

$mdi-font-path: "@mdi/font/fonts";
@import "@mdi/font/scss/materialdesignicons.scss";

// Whitney

@font-face {
  font-family: Whitney;
  src: url('../assets/fonts/WhitneyLight.woff2') format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Whitney;
  src: url('../assets/fonts/WhitneyLightItalic.woff2') format("woff2");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: Whitney;
  src: url('../assets/fonts/WhitneyNormal.woff2') format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Whitney;
  src: url('../assets/fonts/WhitneyNormalItalic.woff2') format("woff2");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Whitney;
  src: url('../assets/fonts/WhitneyMedium.woff2') format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Whitney;
  src: url('../assets/fonts/WhitneyMediumItalic.woff2') format("woff2");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: Whitney;
  src: url('../assets/fonts/WhitneySemibold.woff2') format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Whitney;
  src: url('../assets/fonts/WhitneySemiboldItalic.woff2') format("woff2");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: Whitney;
  src: url('../assets/fonts/WhitneyBold.woff2') format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Whitney;
  src: url('../assets/fonts/WhitneyBoldItalic.woff2') format("woff2");
  font-style: italic;
  font-weight: 700;
}

// JetBrains Mono
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
