section.section.is-main-section {
  padding: $default-padding;

  @include tablet-only {
    padding: calc($default-padding / 2);
  }

  @include mobile {
    padding: calc($default-padding / 3);
  }
}
