@charset "utf-8";

$tagsinput-selected-background-color: $primary !default;
$tagsinput-duplicate-animation: blinker .75s linear infinite !default;
$tagsinput-tag-margin: 0.2rem !default;
$tagsinput-tag-border-radius: 1rem !default;
$tagsinput-animation-duration: 200ms !default;

.tags-input {
  @extend %input;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  min-height: 2.5em;
  padding: 0;
  position: relative;
  font-size: $size-normal;
  transition: border-bottom-color ease-in-out $tagsinput-animation-duration,
              border-left-color ease-in-out $tagsinput-animation-duration,
              border-right-color ease-in-out $tagsinput-animation-duration,
              border-top-color ease-in-out $tagsinput-animation-duration;

  .tag {
    margin: $tagsinput-tag-margin;
    font-size: inherit;

    &.is-rounded {
      border-radius: $tagsinput-tag-border-radius;
    }

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }

    &:focus, &.is-focused {
      border-color: $input-focus-border-color;
      box-shadow: $input-focus-box-shadow-size $input-focus-box-shadow-color;
    }

    &:active {
      background-color: findLightColor($tagsinput-selected-background-color);
      color: findColorInvert(findLightColor($tagsinput-selected-background-color));
    }
    &.is-active {
      background-color: $tagsinput-selected-background-color;
      color: findColorInvert($tagsinput-selected-background-color);
    }
  }

  .input {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    display: inline-block;
    flex: 1 0 auto;
    height: 2.3rem;
    margin: .1rem;
    width: auto;
  }

  &:focus-within {
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-box-shadow-size $input-focus-box-shadow-color;
  }

  &.is-rounded {
    border-radius: calc($tagsinput-tag-border-radius + $tagsinput-tag-margin);
    min-height: calc(2 * ($tagsinput-tag-border-radius + $tagsinput-tag-margin));
    //padding: 0 0.1rem;
  }
}