.toast {
  position: fixed;
  z-index: 500;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  pointer-events: none;

  @mixin alignment($vertical, $horizontal) {
    &.#{$vertical + '-' + $horizontal} {
      #{$vertical}: 0;
      text-align: $horizontal;
      @if ($horizontal == 'left') {
        align-items: flex-start;
        left: 0;
      }
      @if ($horizontal == 'right') {
        align-items: flex-end;
        right: 0;
      }
      @if ($horizontal == 'center') {
        align-items: center;
        left: 0;
        right: 0;
      }
    }
  }

  @include alignment(top, left);
  @include alignment(top, center);
  @include alignment(top, right);
  @include alignment(bottom, left);
  @include alignment(bottom, center);
  @include alignment(bottom, right);

  progress.dismiss-timer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.25rem;
    border-radius: 0 0 $notification-radius $notification-radius;
  }
}