.faq-page-field {
  &:not(:first-child) {
    padding-top: 0.5rem;
  }

  &:not(:last-child) {
    padding-bottom: 0.5rem;
  }

  .faq-page-field-name {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .faq-page-field-value {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.faq-page-footer {
  .faq-page-footer-text {
    white-space: break-spaces;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .faq-page-footer-icon-url {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}