.lazy-list {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: relative;

  .lazy-list-item {
    height: var(--lazy-list-item-height);
    flex-wrap: nowrap;
    white-space: nowrap;
  }
}
