@import "bulma/sass/utilities/derived-variables";
@import "rich-text";

.pasta-overview-card {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  min-width: 24rem;
  width: 48rem;
}

.pasta {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-size: 14pt;
  line-height: 1.2em;
  background-color: #2e323a;
  color: #dedede;
  min-width: 100%;
  text-rendering: optimizeSpeed;
  position: relative;

  &.is-flexible {
    .list-item code {
      white-space: normal;
    }
  }

  .list-item {
    display: flex;
    flex-direction: row;
    width: 100%;

    span.line-number {
      display: inline-block;
      margin-right: 1ch;
      user-select: none;
      width: var(--max-line-number-width);
      min-width: 1ch;
      flex-shrink: 0;
    }

    &.even {
      background-color: #31353d;
    }

    code {
      color: inherit;
      background: none;
      padding: 0;
      font-family: inherit;
      font-size: inherit;
      display: inline-block;
      white-space: nowrap;
    }
  }

  .pasta-viewer-settings {
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 0;
    font-family: Whitney, sans-serif;

    .dropdown {
      position: sticky;
      top: 4rem;
    }

    .dropdown-content {
      width: 16rem;
    }

    .font-size-output {
      display: flex;
      flex-direction: row;

      span {
        flex-grow: 1;
      }

      output {
        width: 3rem;
        background-color: $info;
        border-radius: $radius;
        padding: 0.4rem 0.8rem;
        font-size: $size-7;
        line-height: $size-7;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $white;
        overflow: hidden;
        pointer-events: none;
        z-index: 200;
      }
    }

    .dropdown-item .field .control {
      & > *, .select select {
        width: 100%;
      }
    }
  }
}
