@use "sass:math";
@use "sass:map";

@mixin ansi-color($index, $fn) {
  $color: call($fn, $index);

  #{".ansi-foreground-" + $index} {
    color: $color;
  }

  #{".ansi-background-" + $index} {
    background-color: $color;
  }

  #{".ansi-underline-" + $index} {
    text-decoration-color: $color;
  }
}

@function ansi-8bit-color($index) {
  // 4 bit palette
  @if $index >= 0 and $index < 16 {
    $color-map: (
            0: var(--ansi-color-black),
            1: var(--ansi-color-red),
            2: var(--ansi-color-green),
            3: var(--ansi-color-yellow),
            4: var(--ansi-color-blue),
            5: var(--ansi-color-magenta),
            6: var(--ansi-color-cyan),
            7: var(--ansi-color-white),
            8: var(--ansi-color-bright-black),
            9: var(--ansi-color-bright-red),
            10: var(--ansi-color-bright-green),
            11: var(--ansi-color-bright-yellow),
            12: var(--ansi-color-bright-blue),
            13: var(--ansi-color-bright-magenta),
            14: var(--ansi-color-bright-cyan),
            15: var(--ansi-color-bright-white),
    );
    @return map.get($color-map, $index);
  }
  // 6x6x6 color cube
  @if $index >= 16 and $index < 232 {
    $octet-map: (0: 0, 1: 95, 2: 135, 3: 175, 4: 215, 5: 255);
    $blue: ($index - 16) % 6;
    $green: math.floor(math.div($index - 16, 6)) % 6;
    $red: math.floor(math.div($index - 16, 36)) % 6;
    @return rgb(map.get($octet-map, $red), map.get($octet-map, $green), map.get($octet-map, $blue));
  }
  // grayscale
  @if $index >= 232 and $index < 256 {
    $octet: 8 + ($index - 232) * 10;
    @return rgb($octet, $octet, $octet);
  }
  @error "Index #{$index} out of range 0-255";
}

@mixin ansi-colors {
  --ansi-color-black: black;
  --ansi-color-red: darkred;
  --ansi-color-green: green;
  --ansi-color-yellow: darkorange;
  --ansi-color-blue: darkblue;
  --ansi-color-magenta: darkmagenta;
  --ansi-color-cyan: darkcyan;
  --ansi-color-white: lightgray;
  --ansi-color-bright-black: gray;
  --ansi-color-bright-red: orangered;
  --ansi-color-bright-green: greenyellow;
  --ansi-color-bright-yellow: yellow;
  --ansi-color-bright-blue: blue;
  --ansi-color-bright-magenta: magenta;
  --ansi-color-bright-cyan: cyan;
  --ansi-color-bright-white: white;

  @for $i from 0 to 256 {
    @include ansi-color($i, get-function('ansi-8bit-color'));
  }

  &.vga-palette {
    --ansi-color-black: rgb(0, 0, 0);
    --ansi-color-red: rgb(170, 0, 0);
    --ansi-color-green: rgb(0, 170, 0);
    --ansi-color-yellow: rgb(170, 85, 0);
    --ansi-color-blue: rgb(0, 0, 170);
    --ansi-color-magenta: rgb(170, 0, 170);
    --ansi-color-cyan: rgb(0, 170, 170);
    --ansi-color-white: rgb(170, 170, 170);
    --ansi-color-bright-black: rgb(85, 85, 85);
    --ansi-color-bright-red: rgb(255, 85, 85);
    --ansi-color-bright-green: rgb(85, 255, 85);
    --ansi-color-bright-yellow: rgb(255, 255, 85);
    --ansi-color-bright-blue: rgb(85, 85, 255);
    --ansi-color-bright-magenta: rgb(255, 85, 255);
    --ansi-color-bright-cyan: rgb(85, 255, 255);
    --ansi-color-bright-white: rgb(255, 255, 255);
  }

  &.windows-xp-palette, &.windows-powershell-palette {
    --ansi-color-black: rgb(0, 0, 0);
    --ansi-color-red: rgb(128, 0, 0);
    --ansi-color-green: rgb(0, 128, 0);
    --ansi-color-yellow: rgb(128, 128, 0);
    --ansi-color-blue: rgb(0, 0, 128);
    --ansi-color-magenta: rgb(128, 0, 128);
    --ansi-color-cyan: rgb(0, 128, 128);
    --ansi-color-white: rgb(192, 192, 192);
    --ansi-color-bright-black: rgb(128, 128, 128);
    --ansi-color-bright-red: rgb(255, 0, 0);
    --ansi-color-bright-green: rgb(0, 255, 0);
    --ansi-color-bright-yellow: rgb(255, 255, 0);
    --ansi-color-bright-blue: rgb(0, 0, 255);
    --ansi-color-bright-magenta: rgb(255, 0, 255);
    --ansi-color-bright-cyan: rgb(0, 255, 255);
    --ansi-color-bright-white: rgb(255, 255, 255);
  }

  &.windows-powershell-palette {
    --ansi-color-yellow: rgb(238, 237, 240);
    --ansi-color-magenta: rgb(1, 36, 86);
  }

  &.vscode-palette {
    --ansi-color-black: rgb(0, 0, 0);
    --ansi-color-red: rgb(205, 49, 49);
    --ansi-color-green: rgb(13, 188, 121);
    --ansi-color-yellow: rgb(229, 229, 16);
    --ansi-color-blue: rgb(36, 114, 200);
    --ansi-color-magenta: rgb(188, 63, 188);
    --ansi-color-cyan: rgb(17, 168, 205);
    --ansi-color-white: rgb(229, 229, 229);
    --ansi-color-bright-black: rgb(102, 102, 102);
    --ansi-color-bright-red: rgb(241, 76, 76);
    --ansi-color-bright-green: rgb(35, 209, 139);
    --ansi-color-bright-yellow: rgb(245, 245, 67);
    --ansi-color-bright-blue: rgb(59, 142, 234);
    --ansi-color-bright-magenta: rgb(214, 112, 214);
    --ansi-color-bright-cyan: rgb(41, 184, 219);
    --ansi-color-bright-white: rgb(229, 229, 229);
  }

  &.windows-10-palette {
    --ansi-color-black: rgb(12, 12, 12);
    --ansi-color-red: rgb(197, 15, 31);
    --ansi-color-green: rgb(19, 161, 14);
    --ansi-color-yellow: rgb(193, 156, 0);
    --ansi-color-blue: rgb(0, 55, 218);
    --ansi-color-magenta: rgb(136, 23, 152);
    --ansi-color-cyan: rgb(58, 150, 221);
    --ansi-color-white: rgb(204, 204, 204);
    --ansi-color-bright-black: rgb(118, 118, 118);
    --ansi-color-bright-red: rgb(231, 72, 86);
    --ansi-color-bright-green: rgb(22, 198, 12);
    --ansi-color-bright-yellow: rgb(249, 241, 165);
    --ansi-color-bright-blue: rgb(59, 120, 255);
    --ansi-color-bright-magenta: rgb(180, 0, 158);
    --ansi-color-bright-cyan: rgb(97, 214, 214);
    --ansi-color-bright-white: rgb(242, 242, 242);
  }

  &.macos-terminal-palette {
    --ansi-color-black: rgb(0, 0, 0);
    --ansi-color-red: rgb(194, 54, 33);
    --ansi-color-green: rgb(37, 188, 36);
    --ansi-color-yellow: rgb(173, 173, 39);
    --ansi-color-blue: rgb(73, 46, 225);
    --ansi-color-magenta: rgb(211, 56, 211);
    --ansi-color-cyan: rgb(51, 187, 200);
    --ansi-color-white: rgb(203, 204, 205);
    --ansi-color-bright-black: rgb(129, 131, 131);
    --ansi-color-bright-red: rgb(252, 57, 31);
    --ansi-color-bright-green: rgb(49, 231, 34);
    --ansi-color-bright-yellow: rgb(234, 236, 35);
    --ansi-color-bright-blue: rgb(88, 51, 255);
    --ansi-color-bright-magenta: rgb(249, 53, 248);
    --ansi-color-bright-cyan: rgb(20, 240, 240);
    --ansi-color-bright-white: rgb(233, 235, 235);
  }

  &.putty-palette {
    --ansi-color-black: rgb(0, 0, 0);
    --ansi-color-red: rgb(187, 0, 0);
    --ansi-color-green: rgb(0, 187, 0);
    --ansi-color-yellow: rgb(187, 187, 0);
    --ansi-color-blue: rgb(0, 0, 187);
    --ansi-color-magenta: rgb(187, 0, 187);
    --ansi-color-cyan: rgb(0, 187, 187);
    --ansi-color-white: rgb(187, 187, 187);
    --ansi-color-bright-black: rgb(85, 85, 85);
    --ansi-color-bright-red: rgb(255, 85, 85);
    --ansi-color-bright-green: rgb(85, 255, 85);
    --ansi-color-bright-yellow: rgb(255, 255, 85);
    --ansi-color-bright-blue: rgb(85, 85, 255);
    --ansi-color-bright-magenta: rgb(255, 85, 255);
    --ansi-color-bright-cyan: rgb(85, 255, 255);
    --ansi-color-bright-white: rgb(255, 255, 255);
  }

  &.mirc-palette {
    --ansi-color-black: rgb(0, 0, 0);
    --ansi-color-red: rgb(127, 0, 0);
    --ansi-color-green: rgb(0, 147, 0);
    --ansi-color-yellow: rgb(252, 127, 0);
    --ansi-color-blue: rgb(0, 0, 127);
    --ansi-color-magenta: rgb(156, 0, 156);
    --ansi-color-cyan: rgb(0, 147, 147);
    --ansi-color-white: rgb(210, 210, 210);
    --ansi-color-bright-black: rgb(127, 127, 127);
    --ansi-color-bright-red: rgb(255, 0, 0);
    --ansi-color-bright-green: rgb(0, 252, 0);
    --ansi-color-bright-yellow: rgb(255, 255, 0);
    --ansi-color-bright-blue: rgb(0, 0, 252);
    --ansi-color-bright-magenta: rgb(255, 0, 255);
    --ansi-color-bright-cyan: rgb(0, 255, 255);
    --ansi-color-bright-white: rgb(255, 255, 255);
  }

  &.xterm-palette, &.eclipse-palette {
    --ansi-color-black: rgb(0, 0, 0);
    --ansi-color-red: rgb(255, 255, 255);
    --ansi-color-green: rgb(0, 205, 0);
    --ansi-color-yellow: rgb(205, 205, 0);
    --ansi-color-blue: rgb(0, 0, 238);
    --ansi-color-magenta: rgb(205, 0, 205);
    --ansi-color-cyan: rgb(0, 205, 205);
    --ansi-color-white: rgb(229, 229, 229);
    --ansi-color-bright-black: rgb(127, 127, 127);
    --ansi-color-bright-red: rgb(255, 0, 0);
    --ansi-color-bright-green: rgb(0, 255, 0);
    --ansi-color-bright-yellow: rgb(255, 255, 0);
    --ansi-color-bright-blue: rgb(92, 92, 255);
    --ansi-color-bright-magenta: rgb(255, 0, 255);
    --ansi-color-bright-cyan: rgb(0, 255, 255);
    --ansi-color-bright-white: rgb(255, 255, 255);
  }

  &.ubuntu-palette {
    --ansi-color-black: rgb(1, 1, 1);
    --ansi-color-red: rgb(222, 56, 43);
    --ansi-color-green: rgb(57, 181, 74);
    --ansi-color-yellow: rgb(255, 199, 6);
    --ansi-color-blue: rgb(0, 111, 184);
    --ansi-color-magenta: rgb(118, 38, 113);
    --ansi-color-cyan: rgb(44, 181, 233);
    --ansi-color-white: rgb(204, 204, 204);
    --ansi-color-bright-black: rgb(128, 128, 128);
    --ansi-color-bright-red: rgb(255, 0, 0);
    --ansi-color-bright-green: rgb(0, 255, 0);
    --ansi-color-bright-yellow: rgb(255, 255, 0);
    --ansi-color-bright-blue: rgb(0, 0, 255);
    --ansi-color-bright-magenta: rgb(255, 0, 255);
    --ansi-color-bright-cyan: rgb(0, 255, 255);
    --ansi-color-bright-white: rgb(255, 255, 255);
  }

  &.eclipse-palette {
    --ansi-color-bright-black: rgb(0, 0, 0);
  }
}

.ansi {
  @include ansi-colors;

  span {
    text-decoration-line: inherit;
    text-decoration-color: inherit;

    &.bold {
      font-weight: 700;
    }

    &.faint {
      font-weight: 100;
    }

    &.italic {
      font-style: italic;
    }

    &.underline {
      text-decoration-line: underline;
      text-decoration-color: inherit;
    }
  }
}
