@charset "utf-8";

@import "theme-default";
@import "fonts";
@import "externals";
@import "mixins";

@import "aside";
@import "card";
@import "footer";
@import "form";
@import "hero-bar";
@import "loader";
@import "main-section";
@import "misc";
@import "modal";
@import "nav-bar";
@import "table";
@import "tags-input";
@import "tiles";
@import "title-bar";
@import "toast";

.media-content.not-scrollable {
  overflow-x: initial;
}

$input-rounded-border-radius: 1.2rem !default;

.input, .textarea, .button {
  transition: border-bottom-color ease-in-out $tagsinput-animation-duration,
  border-left-color ease-in-out $tagsinput-animation-duration,
  border-right-color ease-in-out $tagsinput-animation-duration,
  border-top-color ease-in-out $tagsinput-animation-duration;

  &.is-rounded {
    border-radius: $input-rounded-border-radius;
  }
}

.textarea {
  padding: $control-padding-vertical $control-padding-horizontal;

  &.is-rounded {
    scrollbar-width: none;
    padding-left: calc($control-padding-horizontal + 0.375em);
    padding-right: calc($control-padding-horizontal + 0.375em);
  }
}

.field.has-addons .control {
  &:first-child:not(:last-child) {
    .input, .textarea, .button {
      &:not(.is-rounded) {
        border-radius: $control-radius 0 0 $control-radius;
      }

      &.is-rounded {
        border-radius: $input-rounded-border-radius 0 0 $input-rounded-border-radius;
      }
    }
  }

  &:last-child:not(:first-child) {
    .input, .textarea, .button {
      &:not(.is-rounded) {
        border-radius: 0 $control-radius $control-radius 0;
      }

      &.is-rounded {
        border-radius: 0 $input-rounded-border-radius $input-rounded-border-radius 0;
      }
    }
  }

  &:first-child:last-child {
    .input, .textarea, .button {
      &:not(.is-rounded) {
        border-radius: $control-radius;
      }

      &.is-rounded {
        border-radius: $input-rounded-border-radius;
      }
    }
  }
}

.navigation-breadcrumbs {
  li {
    a {
      color: currentColor;
    }

    &:not(:last-child) {
      a:hover {
        text-decoration: underline;
      }
    }

    &:last-child {
      a {
        cursor: default;
      }
    }
  }
}

.file {
  &.is-boxed.is-fullwidth .file-label {
    text-align: center;
  }

  &.is-fullheight {
    height: 100%;

    label.file-label span.file-cta {
      height: 100%;
      justify-content: center;
    }
  }
}

.break-spaces {
  white-space: break-spaces;
}

html {
  overflow: auto;
}

div.tabs.is-disabled {
  pointer-events: none;
}

section.is-borderless {
  padding: 0 !important;
}
