<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon.png?size=180">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon.png?size=152">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon.png?size=120">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon.png?size=76">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon.png?size=60">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png?size=32">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png?size=16">
    <link rel="manifest" href="<%= require('@/assets/site.webmanifest') %>">
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="application-name" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#000000">
</head>
<body>
</body>
</html>
